.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;

  h1 {
    font-size: 50px;
    font-weight: bold;
  }

  p {
    font-size: 24px;
    opacity: 0.8;
  }
}
