.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
    transform: scale(1.02);
  }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #682ecc;
  transition: background 0.3s ease;

  &:hover {
    background: #570868;
    color: white;
  }
}
